body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

a {
    color: red;
    text-decoration: none;
}
